h1, h3{
    text-align: center;
    color:white;
}

h2, footer{
    text-align: center;
}

body{
    background-color: rgb(199, 199, 199);
}

header{
    background-color: rgb(2, 95, 255);
    margin: 1rem auto;
    padding: 1rem;
}

img{
    display: grid;
    object-fit: cover;
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (min-width: 600px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 800px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}