header{
    text-align: center;
}

h5{
    color: rgb(0, 113, 251);
}

body{
    padding: 10%;
}

p {
    line-height: 1.8;
}

ol li{
    margin-bottom: 20px;
    line-height: 2.0;
}

#italics{
    font-style: italic;
}