header{
    text-align: center;
    margin: 0 auto;
    padding: 50px 90px;
}

h5{
    color: rgb(0, 130, 251);
}

body{
    padding: 110px;
    margin: auto;
}

p {
    line-height: 1.8;
}

ol li{
    margin-bottom: 20px;
    line-height: 2.0;
}

#italics{
    font-style: italic;
}