header{
    text-align: center;
    margin: 0 auto;
    padding: 20px 30px;
    font-family:'Times New Roman', Times, serif;
}

h5{
    color: rgb(0, 130, 251);
}

body{
    margin: auto;
    padding-top: 30px;
    padding-left: 190px;
    padding-right: 200px;
    max-width: 600px;
}

main{
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

p {
    line-height: 1.4;
}

ol li{
    margin-bottom: 20px;
    line-height: 2.0;
}

#italics{
    font-style: italic;
}

img{
    padding-top: 20px;
    width: 20%;
}

footer{
    text-align: center;
}